<%= form_with(model: case_coordination, local: true) do |form| %>
  <% if case_coordination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_coordination.errors.count, "error") %> prohibited this case_coordination from being saved:</h2>

      <ul>
      <% case_coordination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :estimated_end_date %>
    <%= form.datetime_select :estimated_end_date %>
  </div>

  <div class="field">
    <%= form.label :log %>
    <%= form.text_field :log %>
  </div>

  <div class="field">
    <%= form.label :privacy %>
    <%= form.number_field :privacy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
