<%= form_with(model: case_coordination, local: true) do |form| %>
  <% if case_coordination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case_coordination.errors.count, "error") %> prohibited this case_coordination from being saved:</h2>

      <ul>
      <% case_coordination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :users, 'Encargados' %><br/>
        <%= collection_select :case_coordination, :user_ids, User.all, :id, :name, {}, { id: 'manager_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :rucs, 'Rucs asociados' %><br/>
        <%= collection_select :case_coordination, :ruc_ids, Ruc.all, :id, :number, {}, { id: 'ruc_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :people, 'Personas' %><br/>
        <%= collection_select :case_coordination, :person_ids, Person.all, :id, :name, {}, { id: 'people_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :legal_people, 'Personas Legales' %><br/>
        <%= collection_select :case_coordination, :legal_person_ids, LegalPerson.all, :id, :name, {}, { id: 'legal_people_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :prosecutor, 'Fiscales' %><br/>
        <%= collection_select :case_coordination, :prosecutor_ids, Prosecutor.all, :id, :name, {}, { id: 'prosecutor_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :regional_pros_office, 'Oficinas Regionales' %><br/>
        <%= collection_select :case_coordination, :regional_pros_office_ids, RegionalProsOffice.all, :id, :region, {}, { id: 'office_multiselect', :multiple => true } %>
      </div>
    </div>
    <div class="col-sm-4">
      
      <div class="form-group">
        <%= form.label :state, 'Estado' %>
        <%= form.select :state, (1..@status.count).map {|i| [@status[i - 1],i] }, {}, { class: 'form-control' }  %>
      </div>
      <div class="form-group">
        <%= form.label :privacy, 'Privacidad' %>
        <%= form.select :privacy, (1..@privacy_levels.count).map {|i| [@privacy_levels[i - 1],i] }, {}, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= form.label :estimated_end_date, 'Fecha Estimada de Término'%><br/>
        <%= form.datetime_select :estimated_end_date %>
      </div>
    </div>
  </div>

  <div class="float-right float-down">
    <%= link_to 'Cancelar', case_coordinations_path, class: 'btn btn-danger' %>
    <% if params[:id].present? %>
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Crear', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
