<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @case_coordination.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @case_coordination.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @case_coordination.state %>
</p>

<p>
  <strong>Estimated end date:</strong>
  <%= @case_coordination.estimated_end_date %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @case_coordination.privacy %>
</p>

<%= link_to 'Agregar Tarea', new_task_url(theme_id:@case_coordination.id,theme_name:CaseCoordination.NAME)%>|

<%= link_to 'Edit', edit_case_coordination_path(@case_coordination) %> |
<%= link_to 'Back', case_coordinations_path %>
