<%= form_with(model: iic, local: true) do |form| %>
  <% if iic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(iic.errors.count, "error") %> prohibited this iic from being saved:</h2>

      <ul>
      <% iic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :state, 'Estado' %>
    <%= form.select :state, (1..@status.count).map {|i| [@status[i - 1],i] }, {}, { class: 'form-control' }  %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :managers, 'Encargados' %><br/>
        <%= collection_select :iic, :manager_ids, User.all, :id, :name, {}, { id: 'manager_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :internal_members, 'Miembros Internos' %><br/>
        <%= collection_select :iic, :internal_member_ids, User.all, :id, :name, {}, { id: 'internal_member_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :external_members, 'Miembros Externos' %><br/>
        <%= collection_select :iic, :external_member_ids, Employee.all, :id, :info, {}, { id: 'external_member_multiselect', :multiple => true } %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :start_date, 'Fecha de Inicio' %><br/>
        <%= form.datetime_select :start_date %>
      </div>

      <div class="form-group">
        <%= form.label :estimated_end_date, 'Fecha Estimada de Término' %><br/>
        <%= form.datetime_select :estimated_end_date %>
      </div>

      <div class="form-group">
        <%= form.label :end_date, 'Fecha de Término' %><br/>
        <%= form.datetime_select :end_date %>
      </div>
    </div>
  </div>



  <div class="form-group">
    <%= form.label :privacy, 'Privacidad' %>
    <%= form.select :privacy, (1..@privacy_levels.count).map {|i| [@privacy_levels[i - 1],i] }, {}, { class: 'form-control' } %>
  </div>

  <div class="form-check">
    <%= form.check_box :multilateral, class: 'form-check-input', type: 'checkbox' %>
    <%= form.label :multilateral, class: 'form-check-label' %>
  </div>

  <br/>
  <div class="float-right float-down">
    <%= link_to 'Cancelar', iics_path, class: 'btn btn-danger' %>
    <% if params[:id].present? %>
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Crear', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>


<div class="modal fade employee-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Employee.new do |form| %>
          <div class="form-group">
            <%= form.label :person_id %>
            <%= form.select :person_id, Person.all.pluck(:name, :id), {}, { class: 'selectize' } %>
          </div>

          <div class="form-group">
            <%= form.label :institution_id %>
            <%= form.select :institution_id, Institution.all.pluck(:name, :id), {}, { class: 'selectize' } %>
          </div>

          <div class="form-group">
            <%= form.label :position %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
  </div>
</div>
