<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-11">
        <h1 class="text-white">Coordinación Interinstitucional</h1>
      </div>
      <div class="col-sm-1">
        <%= link_to (fa_icon 'plus lg', style: 'color: #17a2b8'), new_iic_path, class: 'btn btn-light btn-lg float-right', style: 'margin: auto; display: block' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active makeOrange" data-toggle="pill" href="#home">Mis CII <b>(3)</b></a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Encargados</th>
                    <th>Tipo</th>
                    <th>Fecha inicio</th>
                    <th>Privacidad</th>
                    <th>Estado</th>
                    <th>Fecha Estimada Término</th>
                    <th colspan="3">Acciones</th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @iics.each do |iic| %>
                    <tr>
                      <td><%= iic.name %></td>
                      <td><%= iic.all_managers.map(&:name).join(', ') %></td>
                      <% if iic.multilateral %>
                        <td>Multilateral</td>
                      <% else %>
                        <td>Bilateral</td>
                      <% end %>
                      <td><%= iic.start_date %></td>
                      <td><%= iic.privacy %></td>
                      <td><%= iic.state %></td>
                      <td><%= iic.estimated_end_date %></td>
                      <td><%= link_to 'Ver', iic %></td>
                      <td><%= link_to 'Editar', edit_iic_path(iic) %></td>
                      <td><%= link_to 'Eliminar', iic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


