<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-8">
    <p>
      <strong>Nombre:</strong>
      <%= @iic.name %>
    </p>

    <p>
      <strong>Descripción:</strong>
      <%= @iic.description %>
    </p>

    <p>
      <strong>Tipo:</strong>
      <% if @iic.multilateral %>
        Multilateral
      <% else %>
        Bilateral
      <% end %>
    </p>

    <p>
      <strong>Encargados:</strong>
      <% @iic.managers.each do |manager| %>
        <p style="padding-left: 1vw"><%= manager.name %></p>
      <% end %>
    </p>

    <p>
      <strong>Miembros Internos:</strong>
      <% @iic.internal_members.each do |member| %>
        <p style="padding-left: 1vw"><%= member.name %></p>
      <% end %>
    </p>

    <p>
      <strong>Miembros Externos:</strong>
      <% @iic.external_members.each do |member| %>
        <p style="padding-left: 1vw"><%= member.info %></p>
      <% end %>
    </p>

    <p>
      <strong>Privacidad:</strong>
      <%= @iic.privacy %>
    </p>

    <p>
      <strong>Estado:</strong>
      <%= @iic.state %>
    </p>

    <p>
      <strong>Fecha Inicio:</strong>
      <%= @iic.start_date %>
    </p>

    <p>
      <strong>Fecha Estimada de Término:</strong>
      <%= @iic.estimated_end_date %>
    </p>

    <p>
      <strong>Fecha de Término:</strong>
      <%= @iic.end_date %>
    </p>
  </div>

  <div class="col-sm-4">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="text-white">Bitacora</h4>
      </div>
      <div class="card-body">
        <div class="row" style="background: #FFFFFF; max-height: 720px; overflow: auto">
          <% @log.log_entries.reverse_each do |log_entry| %>
            <div class="card" style="width: 100%">
              <div class="card-body">
                <p style="padding-left: 1vw">
                  <strong style="font-size: small"><%= log_entry.user.name %>:</strong><br/>
                  <i style="font-size: small"><%= log_entry.message %></i><br/>
                  <b style="font-size: x-small; float: right"><%= log_entry.created_at.strftime('%d/%m/%Y %H:%M') %></b>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Volver', iics_path, :class => "btn btn-danger"%>
<%= link_to 'Editar', edit_iic_path(@iic), :class => "btn btn-success" %>