<div class="card">
  <div class="card-header bg-info">
    <h2 class="text-white"><b>Instancias de Temas</b></h2>
  </div>
  <div class="card-body">
    <div class="card-body", style="background: #FFFFFF;padding: 0% 2% 0% 2%">
      <%if @filtered%>
        <a class="btn btn-warning btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample", style="margin-top: 2%;margin-bottom: 2%;">
          Filtrando contenido
        </a>

      <%else%>
        <a class="btn btn-info btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample", style="margin-top: 2%;margin-bottom: 2%;">
          Filtrar contenido
        </a>
      <%end%>

      <% if @filter.nil? %>
        <div class = "collapse show" id="collapseExample">
          <h4>
            Antes de continuar, por favor aplique algún filtro y presione 'Filtrar'
          </h4>
          <br>
      <% else %>
        <div class="collapse" id="collapseExample">
      <% end %>
      <div class="row", id="filter_row">
        <div class="col-sm col-sm-offset-2">
          <%= form_tag theme_finder_path, :method => :get do -%>
            <div class="form-group row">
              <%= label_tag :name, "Nombre", class:"col-sm-2 col-form-label" %>
              <div class="filter_field col-sm-10" id="name_filter_div">
                <%= text_field :filter, :name, class:"form-control" %>
              </div>
            </div>
            <div class="form-group row">
              <%=label :status, "Estado",class: "col-sm-2 col-form-label"%>
              <div class="filter_field col-sm-10", id="status_filter_div">
              <%= collection_select :filter, :status,  Status.all, :id, :tag, {}, { id: 'manager_multiselect', :multiple => true } %>
              </div>
            </div>
            <div class="form-group row">

              <%=label :privacy, "Privacidad", class:"col-sm-2 col-form-label"%>
              <div class = "filter_field col-sm-10", id="privacy_filter_div" >
                <%= collection_select  :filter, :privacy,  PrivacyLevel.all, :id, :tag, {}, { id: 'privacy_multiselect', :multiple => true } %>
              </div>
            </div>
            <div class = "filter_field", id="start_date_filter_div">
              <div class="form-group row">
                <%=label :min_start_date, "Desde",class:"col-2 col-form-label"%>
                <div class="col-sm">
                  <%=date_field :filter, :min_start_date, class:'form-control',:value=>if @filter.nil? then "" else @filter[:min_start_date] end%>
                </div>
              </div>
              <div class="form-group row">
                <%=label :max_start_date, "Hasta",class:"col-2 col-form-label"%>
                <div class="col-sm">
                  <%= date_field :filter, :max_start_date, class:'form-control',:value=>if @filter.nil? then "" else @filter[:max_start_date] end%>
                </div>
              </div>
            </div>
            <%= submit_tag "Filtrar", class:"btn btn-info", style:"margin: 2% 1% 2% 80%"%>
          <% end %>
        </div>
        <div class="col-sm"></div>
      </div>
      </div>
      <br>
      <hr>
      </div>
      <% if !@filter.nil? %>
        <table id="myTable" class="table table-responsive table-striped display">
          <thead>
            <tr role="row">
              <th class="sorting_desc" tabindex="0", aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 62px;" aria-sort="descending">Nombre</th>
              <th> Estado </th>
              <th> Tema </th>
              <th> Encargado </th>
              <th> Fecha de inicio </th>
              <th> Fecha estimada de término </th>
              <th> Nivel de Privacidad </th>
              <th> Acción </th>
            </tr>
          </thead>
          <tbody id="myTable">
          <% @causes.each do |cause| %>
            <tr>
              <td><%= cause.name %></td>
              <td><%= cause.state %></td>
              <td>Caso</td>
              <td>Default</td>
              <td><%= cause.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= cause.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= cause.privacy %></td>
              <td>
                <%= link_to cause do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_cause_path(cause) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @case_coordinations.each do |cc| %>
            <tr>
              <td><%= cc.name %></td>
              <td><%= cc.state %></td>
              <td>Coordinación Caso</td>
              <td>Default</td>
              <td><%= cc.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= cc.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= cc.privacy %></td>
              <td>
                <%= link_to cc do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_case_coordination_path(cc) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @iics.each do |iic| %>
            <tr>
              <td><%= iic.name %></td>
              <td><%= iic.state %></td>
              <td>C. Interinstitucional</td>
              <td>Default</td>
              <td><%= iic.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= iic.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= iic.privacy %></td>
              <td>
              <td>
                <%= link_to iic do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_iic_path(iic) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
              </td>
            </tr>
          <% end %>
          <% @derivations.each do |derivation| %>
            <tr>
              <td><%= derivation.name %></td>
              <td><%= derivation.state %></td>
              <td>Derivación</td>
              <td>Default</td>
              <td><%= derivation.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= derivation.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= derivation.privacy %></td>
              <td>
              <td>
                <%= link_to derivation do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_derivation_path(derivation) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @goals.each do |goal| %>
            <tr>
              <td><%= goal.name %></td>
              <td><%= goal.state %></td>
              <td>Caso</td>
              <td>Meta Ues</td>
              <td><%= goal.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= goal.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= goal.privacy %></td>
              <td>
                <%= link_to goal do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_goal_path(goal) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% @projects.each do |project| %>
            <tr>
              <td><%= project.name %></td>
              <td><%= project.state %></td>
              <td>Caso</td>
              <td>Proyecto</td>
              <td><%= project.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= project.estimated_end_date.strftime("%Y-%m-%d") %></td>
              <td><%= project.privacy %></td>
              <td>
                <%= link_to project do %>
                  <span class="fas fa-eye" aria-hidden="true"></span>
                <% end %>
                <%= link_to edit_project_path(project) do %>
                  <span class="fas fa-edit" aria-hidden="true"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
      <br>
      <style>
        .filter_field{
          white-space: nowrap;
          overflow: visible;
          display: block;
        }
      </style>
      <script>
          $(document).ready(function () {
              $('#example').DataTable();
              $('.dataTables_length').addClass('bs-select');
              document.getElementById('filter_type').onchange();
          })
          document.getElementById('filter_type').onchange = function () {
              filter_divs = document.getElementsByClassName("filter_field");
              for (var i = 0; i . filter_divs.length; i++) {
                  filter_divs[i].style.display = "none";
              }
              var new_action = this.value;
              if (new_action == 1) {
                  document.getElementById("name_filter_div").style.display = "block";
              }
              else if(newaction==2){
                  document.getElementById("status_filter_div").style.display="block";
              }
              else if(newaction==3){
                  document.getElementById("privacy_filter_div").style.display="block";
              }
              else if(newaction==4){
                  document.getElementById("start_date_filter_div").style.display="block";
              }
          };
      </script>
      </div>
    </div>
  </div>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.js"></script>