<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre Completo' %><br />
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rut, 'RUT' %><br />
    <%= form.text_field :rut, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :passport, 'Pasaporte' %><br />
    <%= form.text_field :passport, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Completar', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', entity_selection_index_path, class: 'btn btn-danger' %>
  </div>
<% end %>
