<p id="notice"><%= notice %></p>
<div clas="card">
<div class="card-header bg-info">
<h2 class="text-white"><b>Tareas</b></h2>
</div>
  <div class="card-body", style="background: #FFFFFF;padding: 0% 2% 0% 2%">

<%if @filtered%>
      <a class="btn btn-warning btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample", style="margin-top: 2%;margin-bottom: 2%;">
        Filtrando contenido
      </a>

  <%else%>
      <a class="btn btn-info btn-lg" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample", style="margin-top: 2%;margin-bottom: 2%;">
        Filtrar contenido
      </a>

      <%end%>

    <%if @filter.nil? %>
      <div class="collapse show" id="collapseExample">
      <h4>
      Antes de continuar, por favor aplique algún filtro y presione 'Filtrar'
      </h4>
<br>

  <%else%>

      <div class="collapse" id="collapseExample">


  <%end%>

<div class="row", id="filter_row">

  <div class="col-sm col-sm-offset-2">
    <%= form_tag tasks_path, :method => :get do -%>

      <div class="form-group row">
        <%=label_tag  :name, "Nombre", class:"col-sm-2 col-form-label"%>
        <div class="filter_field col-sm-10 " id="name_filter_div">
          <!--<label for="name">Nombre</label>-->

          <%=text_field :filter, :name, class:"form-control"%>
          <!--<%= collection_select :filter, :tasks_ids, Task.all, :id, :name,  {:selected=>[1]}, { id: 'task_name_multiselect', :multiple => true  } %>-->
        </div>

      </div>


      <div class="form-group row">

        <%=label_tag :assigned_ids, "Asignados",class:"col-sm-2 col-form-label"%>
        <div class="filter_field col-sm-10", id="assigned_filter_div">
      <!--<label for="manager_multiselect">Asignado(s)</label>-->
      <%= collection_select :filter, :assigned_ids, User.all, :id, :name,  {}, { id: 'status_multiselect', :multiple => true } %>
        </div>
      </div>


      <div class="form-group row">
        <%=label :status, "Estado",class: "col-sm-2 col-form-label"%>
        <div class="filter_field col-sm-10", id="status_filter_div">
          <%#=form.label :status, "Estado"%>
          <%= collection_select :filter, :status,  Status.all, :id, :tag, {}, { id: 'manager_multiselect', :multiple => true } %>
        </div>


      </div>

      <div class="form-group row">

        <%=label :privacy, "Privacidad", class:"col-sm-2 col-form-label"%>
        <div class = "filter_field col-sm-10", id="privacy_filter_div" >
      <!--<label for="manager_multiselect">Privacidad</label>-->
      <%= collection_select  :filter, :privacy,  PrivacyLevel.all, :id, :tag, {}, { id: 'privacy_multiselect', :multiple => true } %>
      </div>
      </div>


    <div class = "filter_field", id="start_date_filter_div">
      <div class="form-group row">

        <%=label :min_start_date, "Desde",class:"col-2 col-form-label"%>
        <div class="col-sm">

          <%=date_field :filter, :min_start_date, class:'form-control',:value=>if @filter.nil? then "" else @filter[:min_start_date] end%>
        </div>
      </div>

      <div class="form-group row">

        <%=label :max_start_date, "Hasta",class:"col-2 col-form-label"%>
        <div class="col-sm">

          <%= date_field :filter, :max_start_date, class:'form-control',:value=>if @filter.nil? then "" else @filter[:max_start_date] end%>
        </div>
      </div>



    </div>

      <%= submit_tag "Filtrar", class:"btn btn-info", style:"margin: 2% 1% 2% 80%"%>

    <% end %>
  </div>






<div class="col-sm">

</div>



    </div>
      <br>
      <hr>
    </div>
<%if !@filter.nil? %>
<table id="myTable" class="table table-responsive table-striped">
  <thead>
    <tr role="row">
      <th class="sorting_desc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 62px;" aria-sort="descending">Name</th>
      <th>User</th>
      <th>Start date</th>
      <th>Estimated end date</th>
      <th>End date</th>
      <th>Privacy</th>
      <th>Priority</th>
      <th>State</th>
      <th>Needs checking</th>
      <th>Tema</th>
      <th>Acciones</th>

    </tr>
  </thead>

  <tbody id="myTable">
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.user.first_name+" "+task.user.last_name %></td>
        <td><%= task.start_date %></td>
        <td><%= task.estimated_end_date %></td>
        <td><%= task.end_date %></td>
        <td><%= @privacy_by_id[task.privacy] %></td>
        <td><%= Task.priority[task.priority] %></td>
        <td><%= task.state %></td>
        <td><%= task.needs_checking %></td>
        <td><%= if task.get_theme.nil? then "Sin tema" else task.get_theme.name end  %></td>
        <td><%= link_to task do%>
            <span class="fas fa-eye" aria-hidden="true"></span>
            <%end%> |
          <%= link_to  edit_task_path(task)do %>
            <span class="fas fa-edit" aria-hidden="true"></span>
            <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      <%end%>

<br>

<style>
  .filter_field{
    white-space:nowrap;
    overflow: visible;
    display: block;
  }
  </style>
  <script>
    $(document).ready(function(){
        $('#example').DataTable();


        $('.dataTables_length').addClass('bs-select');
        document.getElementById('filter_type').onchange();
    })
      document.getElementById('filter_type').onchange = function() {
          filter_divs = document.getElementsByClassName("filter_field");
          for (var i = 0; i < filter_divs.length; i++) {
              filter_divs[i].style.display="none";

              //Do something
          }
          var newaction = this.value;
          if(newaction == 1){
              document.getElementById("name_filter_div").style.display="block";
          }
          else if(newaction==2){
              document.getElementById("assigned_filter_div").style.display="block";
          }
          else if(newaction==3){
              document.getElementById("status_filter_div").style.display="block";
          }
          else if(newaction==4){
              document.getElementById("privacy_filter_div").style.display="block";
          }
          else if(newaction==5){
              document.getElementById("start_date_filter_div").style.display="block";
          }
      };

  </script>
<%#= link_to 'New Task', new_task_path %>


  </div>
</div>
</div>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.js"></script>