
<p id="notice"><%= notice %></p>



<div class="card">
  <div class="card-header bg-info">
    <h2 class="text-white"><b><%= @task.name %></b></h2>
  </div>
  <div class="card-body">
      <div class="col-sm-9 hidden-xs">
        <div class="container">
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table id="dtBasicExample" class="table table-hover">
                  <thead>
                  <tr>
                    <th>Tema: </th>
                    <th>Prioridad: <%= @task.priority %></th>
                    <th>Privacidad: <%= PrivacyLevel.find(@task.privacy).tag %> </th>
                    <th>Estado: <%= @task.state %></th>
                    <th></th>
                    <th colspan="300"></th>
                  </tr>
                  </thead>
                </table>
                <div>
                  <%= @task.description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
