
<p id="notice"><%= notice %></p>



<div class="card">
  <div class="card-header bg-info">
    <h2 class="text-white"><b><%= @task.name %></b></h2>
  </div>
  <div class="card-body">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
                <table id="MyTable" class="table table-striped display" style="width: 100%">
                  <thead>
                  <tr>
                    <th>Tema: <%= @get_theme_name %></th>
                    <th>Prioridad: <%= @task.priority %></th>
                    <th>Privacidad: <%= PrivacyLevel.find(@task.privacy).tag %> </th>
                    <th>Estado: <%= @task.state %></th>
                  </tr>
                  </thead>
                </table>
                <div><br>
                </div>
                <p style="text-align:center">
                  <%= @task.description %>
                </p>
                <div><br>
                </div>

          <div class="col-sm-4 hidden-xs" style="float: left;">
            <p class="font-weight-bold" align="left">
              Usuario Asignado:
            </p>
            <p>
              <%= User.find(@task.user_id).name %>
            </p>
          </div>

          <p align="right">
            <strong>Documents:</strong>
            <% @task.documents.each do |document| %>
              <%= link_to document.name, rails_blob_path(document.file, disposition: 'attachment') %>
            <% end %>
          </p>


          <div><br>
          </div>

    </div>
  </div>
    <div><br>

    </div>
  </div>
  <p style="text-align: center; font-size: small">
    Fecha Limite: <%= @task.end_date %>
  </p>
</div>
<div><br>
</div>

<%= link_to 'Editar', edit_task_path(@task), class: 'btn btn-primary' %> |
<%= link_to 'Volver', tasks_path, class: 'btn btn-danger' %>
