<div class="card">
  <div class="card-header bg-info">
    <h2 class="text-white"><b><%= @task.name %></b></h2>
  </div>
  <div class="card-body">
      <div class="col-sm-9 hidden-xs">
        <div class="container">
          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table id="dtBasicExample" class="table table-hover">
                  <thead>
                  <tr>
                    <th>Tema:</th>
                    <th>Prioridad: <%= @task.priority %></th>
                    <th>Privacidad: <%= @task.privacy %> </th>
                    <th>Estado: <%= @task.state %></th>
                    <th></th>
                    <th colspan="300"></th>
                  </tr>
                  </thead>
                </table>
                <div>
                  <%= @task.description %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>Estimated end date:</strong>
  <%= @task.estimated_end_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @task.end_date %>
</p>

<p>
  <strong>Needs checking:</strong>
  <%= @task.needs_checking %>
</p>

<p>
  <strong>Log:</strong>
  <%= @task.log %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
