<%= form_with(model: regional_pros_office, local: true) do |form| %>
  <% if regional_pros_office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(regional_pros_office.errors.count, "error") %> prohibited this regional_pros_office from being saved:</h2>

      <ul>
      <% regional_pros_office.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :region %><br />
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :prosecutor_id %><br />
    <%= form.text_field :prosecutor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
