<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-11">
        <h1 class="text-white">Derivaciones de Gabinete</h1>
      </div>
      <div class="col-sm-1">
        <%= link_to (fa_icon 'plus lg', style: 'color: #17a2b8'), new_derivation_path, class: 'btn btn-light btn-lg float-right', style: 'margin: auto; display: block' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active makeOrange" data-toggle="pill" href="#home">Mis Derivaciones</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Encargados</th>
                      <th>Peticionario</th>
                      <th>Privacidad</th>
                      <th>Estado</th>
                      <th>Fecha Derivación</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Estimada Término</th>
                      <th colspan="3">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @derivations.each do |derivation| %>
                      <tr>
                        <td><%= derivation.name %></td>
                        <td><%= derivation.managers.map(&:name).join(', ') %></td>
                        <td><%= derivation.petitioner.person.name %></td>
                        <td><%= derivation.privacy %></td>
                        <td><%= derivation.state %></td>
                        <td><%= derivation.derivation_date %></td>
                        <td><%= derivation.work_start_date %></td>
                        <td><%= derivation.estimated_end_date %></td>
                        <td><%= link_to 'Ver', derivation %></td>
                        <td><%= link_to 'Editar', edit_derivation_path(derivation) %></td>
                        <td><%= link_to 'Eliminar', derivation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>