<div class='card'>
  <div class='card-header bg-info'>
    <h2 class='text-white'><b>Entidades</b></h2>
  </div>
  <div class='card-body'>
    <div class='btn-group-vertical btn-block btn-lg'>
      <%= link_to 'Fiscales', prosecutors_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Instituciones', institutions_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Empleados', employees_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Fiscales Regionales', regional_pros_offices_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'RUCs', rucs_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Delitos', felonies_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Personas', people_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Personas Jurídicas', legal_people_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
      <%= link_to 'Peticionarios', petitioners_path, class: 'btn btn-outline-secondary btn-block btn-lg'  ,method: :get  %>
    </div>
  </div>
</div>