<div class="card">
  <div class="card-header bg-info">
    <h2 class="text-white"><b>Registro de Entidades</b></h2>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF;">
      <div class="col-md-4"><%= button_to "Fiscal", new_prosecutor_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>
      <div class="col-md-4 offset-md-4"><%= button_to "Institución", new_institution_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>

      <div class="w-100 d-none d-md-block"></div>

      <div class="col-md-4"><%= button_to "Empleado", new_employee_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>
      <div class="col-md-4 offset-md-4"><%= button_to "Fiscal Regional", new_regional_pros_office_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>

      <div class="w-100 d-none d-md-block"></div>

      <div class="col-md-4"><%= button_to "RUC", new_ruc_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>
      <div class="col-md-4 offset-md-4"><%= button_to "Delito", new_felony_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>

      <div class="w-100 d-none d-md-block"></div>

      <div class="col-md-4"><%= button_to "Personas", new_person_path, class: "btn btn-outline-secondary btn-block"  ,method: :get  %></div>
    </div>
  </div>
</div>