<p id="notice"><%= notice %></p>

<h1>Interinstitutional Coordinations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>State</th>
      <th>Start date</th>
      <th>Estimated end date</th>
      <th>End date</th>
      <th>Log</th>
      <th>Privacy</th>
      <th>Multilateral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interinstitutional_coordinations.each do |interinstitutional_coordination| %>
      <tr>
        <td><%= interinstitutional_coordination.name %></td>
        <td><%= interinstitutional_coordination.description %></td>
        <td><%= interinstitutional_coordination.state %></td>
        <td><%= interinstitutional_coordination.start_date %></td>
        <td><%= interinstitutional_coordination.estimated_end_date %></td>
        <td><%= interinstitutional_coordination.end_date %></td>
        <td><%= interinstitutional_coordination.log %></td>
        <td><%= interinstitutional_coordination.privacy %></td>
        <td><%= interinstitutional_coordination.multilateral %></td>
        <td><%= link_to 'Show', interinstitutional_coordination %></td>
        <td><%= link_to 'Edit', edit_interinstitutional_coordination_path(interinstitutional_coordination) %></td>
        <td><%= link_to 'Destroy', interinstitutional_coordination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interinstitutional Coordination', new_interinstitutional_coordination_path %>
