<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interinstitutional_coordination.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interinstitutional_coordination.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @interinstitutional_coordination.state %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @interinstitutional_coordination.start_date %>
</p>

<p>
  <strong>Estimated end date:</strong>
  <%= @interinstitutional_coordination.estimated_end_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @interinstitutional_coordination.end_date %>
</p>

<p>
  <strong>Log:</strong>
  <%= @interinstitutional_coordination.log %>
</p>

<p>
  <strong>Privacy:</strong>
  <%= @interinstitutional_coordination.privacy %>
</p>

<p>
  <strong>Multilateral:</strong>
  <%= @interinstitutional_coordination.multilateral %>
</p>

<%= link_to 'Edit', edit_interinstitutional_coordination_path(@interinstitutional_coordination) %> |
<%= link_to 'Back', interinstitutional_coordinations_path %>
