<%= form_with(model: prosecutor, local: true) do |form| %>
  <% if prosecutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prosecutor.errors.count, "error") %> prohibited this prosecutor from being saved:</h2>

      <ul>
      <% prosecutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rut %><br />
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :local_office %><br />
    <%= form.text_field :local_office %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
