<%= form_with(model: cause, local: true) do |form| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br/>

  <div class="form-group">
    <%= form.label :name, 'Nombre' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, 'Descripción' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <%= form.label :users, 'Encargados' %><br/>
        <%= collection_select :cause, :user_ids, User.all, :id, :name, {}, { id: 'manager_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :people, 'Personas' %><br/>
        <%= collection_select :cause, :person_ids, Person.all, :id, :name, {}, { id: 'people_multiselect', :multiple => true } %>
      </div>
      <div class="form-group">
        <%= form.label :legal_people, 'Personas Legales' %><br/>
        <%= collection_select :cause, :legal_person_ids, LegalPerson.all, :id, :name, {}, { id: 'legal_people_multiselect', :multiple => true } %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :state, 'Estado' %>
        <%= form.select :state, (1..@status.count).map {|i| [@status[i - 1],i] }, {}, { class: 'form-control' }  %>
      </div>
      <div class="form-group">
        <%= form.label :privacy, 'Privacidad' %>
        <%= form.select :privacy, (1..@privacy_levels.count).map {|i| [@privacy_levels[i - 1],i] }, {}, { class: 'form-control' } %>
      </div>
      <div class="form-group">
        <%= form.label :estimated_end_date, 'Fecha Estimada de Término'%><br/>
        <%= form.datetime_select :estimated_end_date %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :regional_pros_office_id %>
        <%= form.select(:regional_pros_office_id, RegionalProsOffice.all.collect {|r| [ r.region, r.id ] }, { include_blank: true }, { class: 'form-control' }) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :ruc_id %>
        <%= form.select(:ruc_id, Ruc.all.collect {|r| [ r.number, r.id ] }, { include_blank: true }, { class: 'form-control' }) %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :prosecutor_id %>
        <%= form.select(:prosecutor_id, Prosecutor.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, { class: 'form-control' }) %>
      </div>
    </div>
  </div>

  <div class="float-right float-down">
    <%= link_to 'Cancelar', causes_path, class: 'btn btn-danger' %>
    <% if params[:id].present? %>
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Crear', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
