<%= form_with(model: cause, local: true) do |form| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :regional_pros_office_id %>
    <%= form.text_field :regional_pros_office_id %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :privacy %>
    <%= form.number_field :privacy %>
  </div>

  <div class="field">
    <%= form.label :ruc_felony_id %>
    <%= form.text_field :ruc_felony_id %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :prosecutor_id %>
    <%= form.text_field :prosecutor_id %>
  </div>

  <div class="field">
    <%= form.label :estimated_end_date %>
    <%= form.datetime_select :estimated_end_date %>
  </div>

  <div class="field">
    <%= form.label :log %>
    <%= form.text_field :log %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
