<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-11">
        <h1 class="text-white">Casos</h1>
      </div>
      <div class="col-sm-1">
        <%= link_to (fa_icon 'plus lg', style: 'color: #17a2b8'), new_cause_path, class: 'btn btn-light btn-lg float-right', style: 'margin: auto; display: block' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active makeOrange" data-toggle="pill" href="#home">Mis Casos <b>(3)</b></a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Regional pros office</th>
                    <th>Managers</th>
                    <th>Description</th>
                    <th>Privacy</th>
                    <th>Ruc</th>
                    <th>State</th>
                    <th>Prosecutor</th>
                    <th>Estimated end date</th>
                    <th colspan="3"></th>
                  </tr>
                  </thead>

                  <tbody>
                  <% @causes.each do |cause| %>
                    <tr>
                      <td><%= cause.name %></td>
                      <td><%= cause.regional_pros_office.region %></td>
                      <td><%= cause.users.map(&:name).join(', ') %></td>
                      <td><%= cause.description %></td>
                      <td><%= cause.privacy %></td>
                      <td><%= cause.ruc_id %></td>
                      <td><%= cause.state %></td>
                      <td><%= cause.prosecutor.name %></td>
                      <td><%= cause.estimated_end_date %></td>
                      <td><%= link_to 'Show', cause %></td>
                      <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
                      <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>