<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cause.name %>
</p>

<p>
  <strong>RUC:</strong>
  <%= @cause.ruc.number %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @cause.description %>
</p>

<p>
  <strong>Encargados:</strong>
  <% @cause.users.each do |manager| %>
    <p style="padding-left: 1vw"><%= manager.name %></p>
  <% end %>
</p>

<p>
  <strong>Fiscal:</strong>
  <%= @cause.prosecutor.name %>
</p>

<p>
  <strong>Oficina Regional:</strong>
  <%= @cause.regional_pros_office.region %>
</p>


<p>
  <strong>Personas:</strong>
  <% @cause.people.each do |person| %>
    <p style="padding-left: 1vw"><%= person.name %></p>
  <% end %>
</p>

<p>
  <strong>Personas Legales:</strong>
  <% @cause.legal_people.each do |legal_person| %>
    <p style="padding-left: 1vw"><%= legal_person.name %></p>
  <% end %>
</p>

<p>
  <strong>Privacidad:</strong>
  <%= @cause.privacy %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @cause.state %>
</p>

<p>
  <strong>Fecha Estimada de Término:</strong>
  <%= @cause.estimated_end_date %>
</p>



<p>
  <strong>Fecha de Término:</strong>
  <%= @cause.end_date %>
</p>

<%= link_to 'Agregar Tarea', new_task_url(theme_id:@cause.id,theme_name:Cause.NAME)%>|
<%= link_to 'Volver', causes_path, :class => "btn btn-danger"%>
<%= link_to 'Editar', edit_cause_path(@cause), :class => "btn btn-success" %>
