<p id="notice"><%= notice %></p>

<h1>Felonies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @felonies.each do |felony| %>
      <tr>
        <td><%= link_to 'Show', felony %></td>
        <td><%= link_to 'Edit', edit_felony_path(felony) %></td>
        <td><%= link_to 'Destroy', felony, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Felony', new_felony_path %>
