<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Download', @document.file, download: '' %>
</p>

<p>
  <strong>Version:</strong>
  <%= @document.version %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @document.classification %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.docType %>
</p>

<p>
  <strong>Log:</strong>
  <%= @document.log_id %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
