<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Nombre'%>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :objective, 'Objetivo'%>
    <%= form.text_field :objective, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :year, 'Año' %>
        <%= form.number_field :year, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :project_number, 'Número Proyecto' %>
        <%= form.number_field :project_number, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :state, 'Estado' %>
        <%= form.select :state, (1..@status.count).map {|i| [@status[i - 1],i] }, {}, { class: 'form-control' }  %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :privacy, 'Privacidad' %>
        <%= form.select :privacy, (1..@privacy_levels.count).map {|i| [@privacy_levels[i - 1],i] }, {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :start_date, 'Fecha Inicio' %><br/>
        <%= form.datetime_select :start_date, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :estimated_end_date, 'Fecha Estimada de Término' %><br/>
        <%= form.datetime_select :estimated_end_date, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if params[:id].present? %>
      <div class="col-sm-6">
        <div class="form-group">
          <%= form.label :end_date, 'Fecha de Término' %><br/>
          <%= form.datetime_select :end_date, class: 'form-control' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :users, 'Encargados Internos' %><br/>
        <%= collection_select :project, :user_ids, User.all, :id, :name, {}, { id: 'manager_multiselect', :multiple => true } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :employees, 'Responsables' %><br/>
        <%= collection_select :project, :employee_ids, Employee.all, :id, :info, {}, { id: 'employee_multiselect', :multiple => true } %>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <%= form.label :documents, 'Documentos de entrada', class: 'card-title' %>
          <%= form.fields_for :documents do |documents_fields| %>
            <%= render 'document_fields', f: documents_fields %>
          <% end %>
          <br/>
          <%= link_to_add_fields "Agregar Documento", form, :documents %>
        </div>
      </div>
    </div>
  </div>

  <br/>
  <div class="float-right float-down">
    <%= link_to 'Cancelar', iics_path, class: 'btn btn-danger' %>
    <% if params[:id].present? %>
      <%= form.submit 'Guardar', class: 'btn btn-primary' %>
    <% else %>
      <%= form.submit 'Crear', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>


<div class="modal fade employee-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for Employee.new do |form| %>
          <div class="form-group">
            <%= form.label :person_id %>
            <%= form.select :person_id, Person.all.pluck(:name, :id), {}, { class: 'selectize' } %>
          </div>

          <div class="form-group">
            <%= form.label :institution_id %>
            <%= form.select :institution_id, Institution.all.pluck(:name, :id), {}, { class: 'selectize' } %>
          </div>

          <div class="form-group">
            <%= form.label :position %>
            <%= form.text_field :position, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
        <% end %>
    </div>
  </div>
</div> 

