<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :objective %>
    <%= form.text_field :objective, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :year %>
        <%= form.number_field :year, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :project_number %>
        <%= form.number_field :project_number, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :state, 'Estado' %>
        <%= form.select :state, (1..@status.count).map {|i| [@status[i - 1],i] }, {}, { class: 'form-control' }  %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= form.label :privacy, 'Privacidad' %>
        <%= form.select :privacy, (1..@privacy_levels.count).map {|i| [@privacy_levels[i - 1],i] }, {}, { class: 'form-control' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :start_date %><br/>
        <%= form.date_select :start_date, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :estimated_end_date %><br/>
        <%= form.date_select :estimated_end_date, class: 'form-control' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= form.label :end_date %><br/>
        <%= form.date_select :end_date, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :users, 'Encargados Internos' %><br/>
        <%= collection_select :project, :user_ids, User.all, :id, :name, {}, { id: 'manager_multiselect', :multiple => true } %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <%= form.label :employees, 'Responsables' %><br/>
        <%= collection_select :project, :employee_ids, Employee.all, :id, :info, {}, { id: 'employee_multiselect', :multiple => true } %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
