<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-11">
        <h1 class="text-white">Proyectos</h1>
      </div>
      <div class="col-sm-1">
        <%= link_to (fa_icon 'plus lg', style: 'color: #17a2b8'), new_project_path, class: 'btn btn-light btn-lg float-right', style: 'margin: auto; display: block' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active makeOrange" data-toggle="pill" href="#home">Mis Proyectos</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Encargados</th>
                      <th>Año</th>
                      <th>Número Proyecto</th>
                      <th>Privacidad</th>
                      <th>Estado</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Estimada Término</th>
                      <th colspan="3">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @projects.each do |project| %>
                      <tr>
                        <td><%= project.name %></td>
                        <td><%= project.users.map(&:name).join(', ') %></td>
                        <td><%= project.year %></td>
                        <td><%= project.project_number %></td>
                        <td><%= project.privacy %></td>
                        <td><%= project.state %></td>
                        <td><%= project.start_date %></td>
                        <td><%= project.estimated_end_date %></td>
                        <td><%= link_to 'Ver', project %></td>
                        <td><%= link_to 'Editar', edit_project_path(project) %></td>
                        <td><%= link_to 'Eliminar', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>