<div class="container2">
  <div class="row">
    <div class="col-md-4 login-sec">
      <h2 class="text-center">Iniciar Sesión</h2>
      <%= form_for(resource, as: resource_name, class: 'login-form', url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, 'Correo Electronico' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password, 'Contraseña' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="form-check">
            <label class="form-check-label">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me, 'Recordarme', style: 'font-size: small' %>
            </label>
            <%= f.submit "Entrar", class: 'btn btn-login float-right' %>
          </div>
        <% end %>
      <% end %>
      <br/>
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-md-8 banner-sec">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag 'foto_fiscalia_1.jpg', class: 'd-block img-fluid', alt: 'First slide' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
