<div class="card">
  <div class="card-header bg-info">
    <div class="row">
      <div class="col-sm-11">
        <h1 class="text-white">Metas Unidades</h1>
      </div>
      <div class="col-sm-1">
        <%= link_to (fa_icon 'plus lg', style: 'color: #17a2b8'), new_goal_path, class: 'btn btn-light btn-lg float-right', style: 'margin: auto; display: block' %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row" style="background: #FFFFFF">
      <div class="col-sm-12 hidden-xs">
        <div class="container">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item ">
              <a class="nav-link active makeOrange" data-toggle="pill" href="#home">Mis Metas</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane active">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Encargados</th>
                      <th>Año</th>
                      <th>Número Meta</th>
                      <th>Privacidad</th>
                      <th>Estado</th>
                      <th>Fecha Estimada Término</th>
                      <th colspan="3">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @goals.each do |goal| %>
                      <tr>
                        <td><%= goal.name %></td>
                        <td><%= goal.users.map(&:name).join(', ') %></td>
                        <td><%= goal.year %></td>
                        <td><%= goal.goal_number %></td>
                        <td><%= goal.privacy %></td>
                        <td><%= goal.state %></td>
                        <td><%= goal.estimated_end_date %></td>
                        <td><%= link_to goal do%>
                            <span class="fas fa-eye" aria-hidden="true"></span>
                            <%end%> |
                          <%= link_to  edit_goal_path(goal)do %>
                            <span class="fas fa-edit" aria-hidden="true"></span>
                            <%end%> |
                          <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do%>
                            <span class="fas fa-times" aria-hidden="true"></span>
                            <%end%>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>