<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>Año:</strong>
  <%= @goal.year %>
</p>

<p>
  <strong>Número Meta:</strong>
  <%= @goal.goal_number %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Encargados:</strong>
  <% @goal.users.each do |assigned| %>
    <p style="padding-left: 1vw"><%= assigned.name %></p>
  <% end %>
</p>

<p>
  <strong>Involucrados:</strong>
  <% @goal.involved_users.each do |assigned| %>
    <p style="padding-left: 1vw"><%= assigned.name %></p>
  <% end %>
</p>

<p>
  <strong>Privacidad:</strong>
  <%= @goal.privacy %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @goal.state %>
</p>

<p>
  <strong>Fecha Estimada de Término:</strong>
  <%= @goal.estimated_end_date %>
</p>

<p>
  <strong>Fecha de Término:</strong>
  <%= @goal.end_date %>
</p>

<%= link_to 'Agregar Tarea', new_task_url(theme_id:@goal.id,theme_name:Goal.NAME)%>|
<%= link_to 'Volver', goals_path, :class => "btn btn-danger"%>
<%= link_to 'Editar', edit_goal_path(@goal), :class => "btn btn-success" %>

