<div class="row">
  <div class="col-sm-5">
    <div class="form-group">
      <%= f.label :name, 'Nombre' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <%= f.label :file, 'Archivo' %>
      <%= f.file_field :file %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="form-group">
      <%= f.label :version, 'Versión' %>
      <%= f.text_field :version, class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :user_id, value: @current_user_id %>
  <div class="col-sm-2">
    <br/>
    <%= link_to '#', class: "remove_fields btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</div>
<%= f.hidden_field :_destroy %>
