<div class="card">
	<div class="card-header bg-info">
    <h2 class="text-white"><b>Bandeja de Tareas</b></h2>
	</div>
	<divgit status
          class="card-body">
		<div class="row" style="background: #FFFFFF;">
			<div class="col-sm-3 hidden-xs" style="border-right:#FF8C00 solid 2px">
				<%= image_tag("logo_fiscalia.png", class: 'img-thumbnail', width: '70%', style: 'margin: auto; display: block; margin-top: 10%') %>
				<h2 class="text-center" style="margin-bottom: 10%"><strong><%= current_user.name %></strong></h2>
        <div class="btn-group-vertical btn-block" style="padding-top: 0.1vw; overflow: auto;">
          <%= link_to "Agregar Entidades", entity_selection_index_path, class: "btn btn-outline-secondary btn-block"  ,method: :get %>
					<button class="btn btn-outline-secondary" onclick="alert('Aqui se ven las tareas historicas.')">Tareas Historicas</button>
					<button class="btn btn-outline-secondary" onclick="alert('Aqui se administran los usuarios.')">Administrar Usuarios</button>
        </div>
			</div>
			<div class="col-sm-9 hidden-xs">
				<div class="container">
					<table id="myTable" class="table table-responsive table-striped">
						<thead>
							<tr>
								<th>Tarea</th>
								<th>Tema</th>
								<th>Fecha Estimada</th>
								<th>Prioridad</th>
								<th>Privacidad</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<% @user_tasks.each do |task| %>
								<tr>
									<td><%= task.name %></td>
									<% if task.case_task.present? %>
										<td><%= task.cause.name %></td>
									<% elsif task.cc_task.present? %>
										<td><%= task.case_coordination.name %></td>
									<% elsif task.derivation_task.present? %>
										<td><%= task.derivation.name %></td>
									<% elsif task.task_goal.present? %>
										<td><%= task.goal.name %></td>
									<% elsif task.iic_task.present? %>
										<td><%= task.iic.name %></td>
									<% else  %>
										<td>None</td>										
									<% end %>
									<td><%= task.estimated_end_date.to_date %></td>
									<td><%= task.priority %></td>
									<td><%= task.privacy %></td>
									<td><%= task.state %></td>
									<td><%= link_to 'Ver', task_path(task.id) %> | <%= link_to 'Editar', edit_task_path(task.id) %> | <% if task.needs_checking && task.state=='Reviso' %><%= link_to 'Revisar', edit_task_path(task.id) %><% else  %><%= link_to 'Trabajar', edit_task_path(task.id) %><% end %>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</divgit>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/af-2.3.2/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/datatables.min.js"></script>